{% extends "base.html" %}

{% block content %}
    <h1>About Me</h1>
    <p>This is my about page.</p> 
    <p1>I enjoy learning, building, and figuring out how things work. 
    I am currently pursuing a degree in Computer Information Systems while working in the technology field, 
    with a growing interest in cybersecurity and digital forensics. 
    Outside of work and school, I enjoy working on cars and other hands-on projects, cooking, fitness, and coming up with new ideas.
    </p1>
{% endblock content %}